/* universal selector ues here */
*{
    margin: 0;
    padding: 0;
}
/*====some common style used here for use full project start===  */
body{
    font-family: 'Work Sans', sans-serif;
}
main{
    padding: 0 240px;
    /* padding: 0 100px; */
}
.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    border: 0;
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}
.primary-title{
    color: var(--dark-01, #131313);
    font-size: 2.8rem;
    font-weight: 700;
}
.primary-desc{
    color:#727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 25px;
    padding-top: 10px;
    padding-bottom: 25px;
}
/*====some common style used here for use full project end===  */

/* header section style use here */
header{
    background: hsla(32, 100%, 53%, 0.1);
    padding: 50px 240px;
    /* padding: 50px 100px; */
}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    color:#131313;
    font-size: 2.8rem;
    font-weight: 700;
}
nav > ul{
    display: flex;
}
ul li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1.1rem;
}
ul li a{
    text-decoration: none;
    color: #424242;
}
/* banner section here */
.banner-content{
    max-width: 862px;
    text-align: center;
    margin: 0 auto;
    padding: 100px 0 50px 0;
}
.banner-title{
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}
.banner-image{
    width: 100%;
}
/* teams section here */
.team-section{
    display: flex;
    align-items: center;
    padding: 80px 0;
}
.team-photo-part{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;
}
.team-content{
    padding-left: 70px;
}
.team-sub-title-one{
    color: #727272;
    font-size: 2.8rem;
    font-weight: 500;
}
.team-title{
    color:#131313;
    font-size: 2.8rem;
    font-weight: 700;
}
.team-sub-title-two{
    color: #FF900E;
    font-size: 2.8rem;
    font-weight: 700;
}
/* feature-section here*/
.feature-section{
    margin: 30px 0 85px 0;
    display: flex; 
    gap:55px;
}
.left-border{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    margin-bottom: 20px;
}
.card-part{
    border-radius: 10px;
    background: #FFF;
    box-shadow: 10px 15px 31px 0px rgba(1, 1, 1, 0.06);
    padding: 22px 9px 10px 20px;;
    margin: 10px 0 0 0;
}
.feature-image-area img{
    height: 90%;
    margin-left: 60px;
}
.ten-year-badge{
    border-radius: 8px;
    background: #FF900E;
    width: 300px;
    color: #FFF;
    text-align: center;
    padding: 40px 25px;
    position: relative;
    bottom: 100px;
}
.ten-year-badge h2{
    font-size: 4rem;
}
.ten-year-badge p{
    font-size: 1.5rem;
}
/* facts section here */
.facts-card-container{
    display: flex;
    justify-content: space-around;
    padding-bottom: 65px;
}
.facts-desc{
    max-width: 550px;
    margin-top: 24px;
    margin-bottom: 0;
}
.facts-card-container .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    margin-top: 80px;
    text-align: center;
    padding: 40px 50px;
}
.card-stats{
    color:#424242;
    font-size: 2.8rem;
    font-weight: 600;
}
.card-title{
    font-size: 1.2rem;
}
/* sponsor section here */
.sponsor-section{
    margin: 80px 0;
}
.sponsor-head{
    text-align: center;
    padding: 0px 295px 35px;
}
.sponsor-image-container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 90px;
}
.sponsor-image-container img{
    width: 125px;
}

/* ===== Responsive (media query) style use here */
/* mobile device */
@media screen and (max-width:576px) {
    /* header section here */
    header{
        padding: 40px 50px;
    }
    nav , ul{
        flex-direction: column;
    }
    nav > ul{
        padding-top: 10px;
    }
    ul li{
        margin-top: 15px;
    }
    /* main area */
    main{
        padding: 0px 50px;
    }
    /* teams section here */
    .team-section{
        flex-direction: column;
    }
    .team-photo-part{
        grid-template-columns:1fr;
    }
    .team-content{
        padding-top: 20px;
        padding-right: 52px;
    }
    .team-sub-title-one{
        font-size: 1.8rem;
    }
    .team-title{
        font-size: 1.8rem;
    }
    .team-sub-title-two{
        font-size: 1.8rem;
    }
    /* feature section here */
    .feature-section{
        flex-direction: column;
        margin-bottom: 10px;
    }
    .feature-image-area img{
        height: 90%;
        margin-left: 0;
        width: 103%;
    }
    .ten-year-badge{
        width: 246px;
        padding: 28px 25px;
    }
    .ten-year-badge h2{
        font-size: 3rem;
    }
    /* facts section here */
    .facts{
        padding: 0 65px 50px 65px;
    }
    .facts-card-container{
        flex-direction: column;
        padding: 0 20px;
    }
    /* sponsor section here */
    .sponsor-section{
        margin: 45px 0;
    }
    .sponsor-image-container{
        grid-template-columns: repeat(2,1fr);
        gap: 45px;
    }
    .sponsor-head{
        padding: 0px 5px 35px;
    }
}
/* medium device */
@media screen and (min-width:576px) and (max-width:960px) {
    /* header section here */
    header{
        padding: 50px 80px;
    }
    nav , ul{
        flex-direction: column;
    }
     nav > ul{
        padding-top: 10px;
    }
    ul li{
        margin-top: 15px;
    }
    /* main area */
    main{
        padding: 0px 50px;
    }
    /* teams section here */
    .team-section{
        flex-direction: column;
    }
    .team-photo-part{
        grid-template-columns:1fr;
    }
    .team-content{
        padding-top: 50px;
        padding-right: 52px;
    }
    /* feature section here */
    .feature-section{
        flex-direction: column;
        margin-bottom: 10px;
    }
    .feature-image-area img{
        height: 90%;
        margin-left: 0;
        width: 103%;
    }
    .ten-year-badge{
        width: 246px;
        padding: 28px 25px;
    }
    .ten-year-badge h2{
        font-size: 3rem;
    }
    /* facts section here */
    .facts{
        padding: 0 65px 50px 65px;
    }
    .facts-card-container{
        flex-direction: column;
        padding-bottom: 70px;
    }
    /* sponsor section here */
    .sponsor-image-container{
        grid-template-columns: repeat(4,1fr);
        gap: 30px;
    }
    .sponsor-head{
        padding: 0px 15px 35px;
    }
    .sponsor-section {
        margin: 0;
    }
}